---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: scrutiny-collector
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  dependsOn:
    - name: scrutiny
      namespace: monitoring
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
          # capabilities:
          #   add: ["SYS_RAWIO"] # allow access to smartctl
    controllers:
      main:
        type: daemonset

        containers:
          main:
            image:
              repository: ghcr.io/analogj/scrutiny
              tag: v0.8.1-collector
            env:
              - name: COLLECTOR_API_ENDPOINT
                value: http://scrutiny.monitoring.svc.cluster.local:8080
              - name: COLLECTOR_HOST_ID
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
              - name: TZ
                value: "Europe/Helsinki"
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 256Mi



    persistence:
      config:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /opt/scrutiny/config
      udev:
        enabled: true
        type: hostPath
        hostPath: /run/udev
        globalMounts:
          - path: /run/udev

