---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app qbit
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 4.6.0
  install:
    createNamespace: true
    remediation:
      retries: 3
  interval: 30m
  maxHistory: 2
  uninstall:
    keepHistory: false
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: 'true'
    controllers:
      qbit:
        pod:
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 100

        containers:
          app:
            env:
              QBITTORRENT__BT_PORT: 57427
              TZ: Europe/Helsinki
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.0.4
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              limits:
                memory: 3Gi
              requests:
                cpu: 49m
                memory: 2Gi
            securityContext:
              runAsUser: 568
              runAsGroup: 568
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          gluetun:
            env:
              - name: VPN_TYPE
                value: wireguard
              - name: VPN_SERVICE_PROVIDER
                value: airvpn
              - name: VPN_INTERFACE
                value: wg0
              - name: FIREWALL
                value: off
              - name: LOG_LEVEL
                value: debug
              - name: DOT
                value: off
              - name: FIREWALL_VPN_INPUT_PORTS
                value: 1637,41909,57427
              - name: FIREWALL_INPUT_PORTS
                value: 8080
              - name: WIREGUARD_MTU
                value: 1320
            envFrom:
              - secretRef:
                  name: qbit-vpn-secret
            resources:
              requests:
                kernel.org/tun: 1
              limits:
                kernel.org/tun: 1
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
              allowPrivilegeEscalation: false
    route:
      app:
        hostnames: [ "qb.media.skylab.fi" ]
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https-media
        rules:
          - backendRefs:
              - name: *app
                port: 8080
    persistence:
      config:
        existingClaim: qbit-config
        globalMounts:
          - path: /config
      library:
        globalMounts:
          - path: /var/mnt/merged/library
        hostPath: /var/mnt/merged/library
        type: hostPath
      media-downloads:
        globalMounts:
          - path: /var/mnt/merged/Downloads
        hostPath: /var/mnt/merged/Downloads
        type: hostPath
    service:
      qbit:
        controller: qbit
        ports:
          http:
            port: 8080
