---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: qbit
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/onedr0p/qbittorrent
      tag: 4.5.5

    env:
      TZ: Europe/Helsinki
      QBITTORRENT__PORT: &port 80
      QBITTORRENT__BT_PORT: &port-bt 57427

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,2001:14ba:16fd:9600::/56"
        hosts:
          - host: &host qb.media.skylab.fi
            paths:
                - path: /
                  pathType: Prefix
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: qbit-config
      completed-script:
        enabled: true
        type: configMap
        name: qbittorrent-scripts
        mountPath: /scripts/completed.sh
        subPath: completed.sh
        defaultMode: 0775
        readOnly: true
      media-downloads:
        enabled: true
        type: hostPath
        mountPath: /mnt/merge/Downloads
        hostPath: "/mnt/merge/Downloads"
      library:
        enabled: true
        type: hostPath
        mountPath: /mnt/merge/library
        hostPath: "/mnt/merge/library"

    probes:
      startup:
        enabled: false

    resources:
      requests:
        cpu: 49m
        memory: 1222Mi
      limits:
        memory: 1222Mi

    securityContext:
      runAsUser: 568
      runAsGroup: 568

    sidecars:
      gluetun:
        image: ghcr.io/qdm12/gluetun:latest@sha256:ef6296799eb5cc956096546af26faf48476543446a1adde97481f7e9d04b7f2e
        env:
          - name: VPN_TYPE
            value: wireguard
          - name: VPN_SERVICE_PROVIDER
            value: airvpn
          - name: VPN_INTERFACE
            value: wg0
          - name: FIREWALL
            value: "on"
          - name: DOT
            value: "off"
          - name: FIREWALL_VPN_INPUT_PORTS
            value: 1637,41909,57427
          - name: FIREWALL_INPUT_PORTS
            value: 80
          - name: WIREGUARD_MTU
            value: 1320
          # - name:  WIREGUARD_PRIVATE_KEY
          #   value: set in secret
          # - name:  WIREGUARD_ADDRESSES
          #   value: set in secret
          # - name:  SERVER_COUNTRIES
          #   value: set in secret
        envFrom:
          - secretRef:
              name: qbit-vpn-secret
        securityContext:
          capabilities:
            add:
              - NET_ADMIN

