---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./pvc.yaml
  - ./secret.sops.yaml
  - ./helm-release.yaml
configMapGenerator:
  - name: gluetun-iptables-post
    files:
      - ./config/post-rules-gluetun.txt
generatorOptions:
  disableNameSuffixHash: true
