---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: dh.skylab.fi
  namespace: networking
spec:
  secretName: plex-dh-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  privateKey:
    algorithm: ECDSA
    size: 384
  commonName: "dh.skylab.fi"
  dnsNames:
    - "dh.skylab.fi"
    - "plex.dh.skylab.fi"
