---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx-external
  namespace: networking
spec:
  interval: 5m
  timeout: 10m0s
  chart:
    spec:
      # renovate: registryUrl=https://kubernetes.github.io/ingress-nginx
      chart: ingress-nginx
      version: 4.12.1
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx-charts
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: 10m
    recreate: true
    cleanupOnFail: true
  values:
    fullnameOverride: nginx-external
    controller:
      replicaCount: 2
      allowSnippetAnnotations: true

      priorityClassName: system-cluster-critical
      ingressClassResource:
        name: external-nginx
        default: false
        controllerValue: k8s.io/ingress-nginx-external

      admissionWebhooks:
        objectSelector:
          matchExpressions:
            - key: ingress-class
              operator: In
              values:
                - external-nginx
      config:
        annotations-risk-level: Critical
        strict-validate-path-type: false
        proxy-body-size: 0
        proxy-buffer-size: 16k
        hsts: false
        ssl-prefer-server-ciphers: false
        ssl-protocols: "TLSv1.3 TLSv1.2"
        ssl-redirect: false
        server-tokens: false
        enable-real-ip: true
        enable-brotli: "true"
        #custom-http-errors: 404,403
        log-format-escape-json: "true"
        log-format-upstream: '{"time": "$time_iso8601", "remote_addr": "$proxy_protocol_addr", "x_forwarded_for": "$proxy_add_x_forwarded_for", "request_id": "$req_id",
               "remote_user": "$remote_user", "bytes_sent": $bytes_sent, "request_time": $request_time, "status": $status, "vhost": "$host", "request_proto": "$server_protocol",
               "path": "$uri", "request_query": "$args", "request_length": $request_length, "duration": $request_time,"method": "$request_method", "http_referrer": "$http_referer",
               "http_user_agent": "$http_user_agent" }'
        addHeaders: "networking/nginx-custom"
        proxy-set-headers: "networking/custom-headers"
        # hardening
        hide-headers: Server,X-Powered-By
        block-user-agents: "GPTBot,~*GPTBot*,ChatGPT-User,~*ChatGPT-User*,Google-Extended,~*Google-Extended*,CCBot,~*CCBot*,Omgilibot,~*Omgilibot*,FacebookBot,~*FacebookBot*" # taken from https://github.com/superseriousbusiness/gotosocial/blob/main/internal/web/robots.go
      use-forwarded-headers: "true"
      service:
        enabled: true
        type: LoadBalancer
        labels:
          pool: public
        annotations:
          external-dns.alpha.kubernetes.io/target: "ingress.skylab.fi"
          io.cilium/lb-ipam-ips: "10.96.69.80,2001:14ba:45a:213d::4443"
        externalTrafficPolicy: Cluster
        ipFamilyPolicy: "PreferDualStack"
        ipFamilies:
          - IPv4
          - IPv6
      publishService:
        enabled: true

      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          namespace: networking
          namespaceSelector:
            any: true
      extraArgs:
        default-ssl-certificate: "networking/skylab.fi-tls"
      topologySpreadConstraints:
        - maxSkew: 2
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: nginx-external
              app.kubernetes.io/component: controller
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/instance
                    operator: In
                    values:
                      - nginx-external
                  - key: app.kubernetes.io/component
                    operator: In
                    values:
                      - controller
              topologyKey: kubernetes.io/hostname
            weight: 100
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/instance
                    operator: In
                    values:
                      - nginx-external
                  - key: app.kubernetes.io/component
                    operator: In
                    values:
                      - controller
              topologyKey: "kubernetes.io/hostname"

      resources:
        requests:
         cpu: 99m
         memory: 768M
        limits:
          memory: 768Mi
    defaultBackend:
      enabled: false
