---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app k8s-gateway
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: quay.io/oriedge/k8s_gateway
      tag: v0.4.0

    args: ["-conf", "/etc/coredns/Corefile"]

    service:
      main:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "10.41.69.53,2001:14ba:16fd:962d::53"
        externalTrafficPolicy: Cluster
        ports:
          http:
            enabled: false
          metrics:
            enabled: true
            port: 9153
          dns:
            enabled: true
            port: 53
            targetPort: 1053
            protocol: UDP

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    probes:
      readiness:
        custom: true
        spec:
          httpGet:
            path: /ready
            port: 8181
      liveness:
        custom: true
        spec:
          httpGet:
            path: /health
            port: 8080
      startup:
        enabled: false

    serviceAccount:
      create: true
      name: *app

    persistence:
      config-file:
        enabled: true
        type: configMap
        name: k8s-gateway-configmap
        subPath: Corefile
        mountPath: /etc/coredns/Corefile
        readOnly: true
