apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: downloads
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      fullnameOverride: qbittorrent
    hostname: qbittorrent
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/onedr0p/qbittorrent
      tag: 4.5.5@sha256:f4a1a5eece13beed61e579172d2a54b1fc2e7ff2bbdbd7ef22a4d9f6fc36e198
    env:
      QBITTORRENT__PORT: &port 80
      QBITTORRENT__BT_PORT: &port-bt 55633
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        ingressClassName: internal-nginx
        hosts:
          - host: &host qb.skylab.fi
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups: [10000]

    podAnnotations:
      setGateway: "true"

    persistence:
      config:
        enabled: true
        existingClaim: qbittorrent-config-v1
      media:
        enabled: true
        type: nfs
        server: "192.168.2.2"
        path: /volume1/Media
        mountPath: /media
      add-ons:
        enabled: true
        type: emptyDir
    nodeSelector:
      node-role.kubernetes.io/worker: "true"
    resources:
      requests:
        cpu: 10m
        memory: 250Mi
      limits:
        memory: 2Gi
    sidecars:
      reannounce:
        image: ghcr.io/buroa/qbittools:latest@sha256:b7b867a87257a5add56824d0a0c2f3c3bd2c77f9253859561be3eb7cdcb5bc1b
        imagePullPolicy: IfNotPresent
        args: [ "reannounce", "-s", "localhost", "-p", "80" ]
      vuetorrent:
        image: registry.k8s.io/git-sync/git-sync:v4.2.3
        imagePullPolicy: IfNotPresent
        args:
          - --repo=https://github.com/WDaan/VueTorrent
          - --branch=latest-release
          - --wait=86400 # 1 day
          - --root=/add-ons
        volumeMounts:
          - { name: add-ons, mountPath: /add-ons }