---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-system-snapshot-controller
  namespace: flux-system
spec:
  interval: 10m
  path: ./k8s/nebula/apps/kube-system/snapshot-controller/app
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  timeout: 2m