---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: syncthing
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsUser: ${APP_UID}
        runAsGroup: ${APP_GID}
        fsGroup: ${APP_GID}
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      syncthing:
        containers:
          syncthing:
            image:
              repository: syncthing/syncthing
              tag: 1.29.2
            resources:
              requests:
                cpu: 15m
                memory: 64M
              limits:
                cpu: 100m
                memory: 128M
    service:
      syncthing:
        controller: syncthing
        ports:
          http:
            port: 8384
      listen:
        enabled: true
        type: LoadBalancer
        controller: syncthing
        annotations:
          io.cilium/lb-ipam-ips: "10.96.69.230"
        ports:
          discovery:
            enabled: true
            port: 21027
            protocol: UDP
          listen:
            enabled: true
            port: 22000
            protocol: TCP
          listen-udp:
            enabled: true
            port: 22000
            protocol: UDP
    ingress:
      main:
        enabled: true
        className: internal-nginx
        annotations:
          hajimari.io/icon: "cloud"
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: syncthing
                  port: 8384
        tls:
          - hosts:
              - "${HOSTNAME}"
    persistence:
      data:
        enabled: true
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /var/syncthing
