cni:
  exclusive: false
autoDirectNodeRoutes: true
localRedirectPolicy: true
rollOutCiliumPods: true
kubeProxyReplacement: false
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
ipv4NativeRoutingCIDR: "10.244.0.0/16"
ipv6NativeRoutingCIDR: "fddf:f7bc:9670::/48"
k8sServiceHost: "10.0.105.34"
k8sServicePort: 6443
loadBalancer:
  algorithm: "maglev"
  mode: "dsr"


l7Proxy: true

tunnel: "disabled"
ipam:
  mode: "kubernetes"
ipv6:
  enabled: true
#enableIPv6Masquerade: false
operator:
  rollOutPods: true
hubble:
  enabled: true
  metrics:
    enabled:
      - dns:query
      - drop
      - tcp
      - flow
      - port-distribution
      - icmp
      - http
    serviceMonitor:
      enabled: true
    dashboards:
      enabled: true
      label: grafana_dashboard
      namespace: monitoring
      labelValue: "1"
      annotations: { }
  relay:
    enabled: true
    rollOutPods: true
    prometheus:
      enabled: true
  ui:
    enabled: true
    rollOutPods: true
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: zerossl-production
        kubernetes.io/ingress.class: nginx
      hosts:
        - "hubble.skylab.fi"
      tls:
        - secretName: hubble-tls
          hosts:
            - "hubble.skylab.fi"
bgp:
  enabled: false
  announce:
    loadbalancerIP: false

bgpControlPlane:
  enabled: true

securityContext:
  privileged: true

prometheus:
  enabled: true
