---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name:
  namespace:
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name:
  target:
    name:
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: POSTGRES_SUPER_USER