---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: main-pool
  namespace: kube-system
spec:
  blocks:
    - cidr: 10.41.69.0/24
    - cidr: 2001:14ba:45a:962d::/112
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: svc-pool
  namespace: kube-system
spec:
  blocks:
    - cidr: 192.168.12.0/24
    - cidr: 2001:14ba:45a:211d::/64
