---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vpn-gateway
  namespace: vpn
spec:
  interval: 15m
  chart:
    spec:
      chart: pod-gateway
      version: 6.5.1
      sourceRef:
        kind: HelmRepository
        name: angelnu-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.10.0@sha256:d728eac85f750b37c96a0dafd038561ea4b8035857802be1128ea9b19c61e181

    addons:
      netshoot:
        enabled: true
      vpn:
        enabled: true
        type: gluetun
        image:
          repository: docker.io/qmcgaw/gluetun
          tag: v3.38.0@sha256:5522794f5cce6d84bc7f06b1e3a3b836ede9100c64aec94543cb503bb2ecb72f
        env:
          - name: VPN_TYPE
            value: wireguard
          - name: VPN_SERVICE_PROVIDER
            value: mullvad
          - name: VPN_INTERFACE
            value: wg0
          - name: FIREWALL
            value: "off"
          - name: DOT
            value: "off"
          - name: FIREWALL_VPN_INPUT_PORTS
            value: 51820,55633
          # - name:  WIREGUARD_PRIVATE_KEY
          #   value: set in secret
          # - name:  WIREGUARD_ADDRESSES
          #   value: set in secret
          # - name:  SERVER_COUNTRIES
          #   value: set in secret

        envFrom:
          - secretRef:
              name: vpn-gateway-vpnconfig
        securityContext:
          capabilities:
            add:
              - NET_ADMIN

        networkPolicy:
          enabled: true
          egress:
            - to:
                - ipBlock:
                    cidr: 0.0.0.0/0
              ports:
                # VPN traffic
                - port: 51820
                  protocol: UDP
                - port: 55633
                  protocol: UDP
                - port: 55633
                  protocol: TCP
            - to:
                - namespaceSelector: {}

    podAnnotations:
      configmap.reloader.stakater.com/reload: vpn-gateway-pod-gateway
      secret.reloader.stakater.com/reload: vpn-gateway-vpnconfig


    DNS: 172.16.1.1
    routed_namespaces:
      - downloads
      - media

    settings:
      VPN_INTERFACE: "wg0"
      VXLAN_ID: 44
      VXLAN_IP_NETWORK: 172.16.1
      #VXLAN_IPv6_NETWORK: fd60:ca7f:e5d8:42e8
      VXLAN_GATEWAY_FIRST_DYNAMIC_IP: 20
      VPN_BLOCK_OTHER_TRAFFIC: false
      VPN_TRAFFIC_PORT: "51820"
      VPN_LOCAL_CIDRS: 10.0.0.0/8 192.168.0.0/16
      #VPN_LOCAL_IPv6_CIDRS: 2001:67c:1104::/48
      NOT_ROUTED_TO_GATEWAY_CIDRS: 10.0.0.0/8 192.168.0.0/16
      #IPV6_ENABLED: true
      #IPV4_ENABLED: true

    publicPorts:
      - hostname: qbittorrent
        IP: 10
        ports:
          - type: tcp
            port: 55633

    #publicIPv6Ports:
    #  - hostname: qbittorrent
    #    IP: 10
    #    ports:
    #      - type: tcp
    #        port: 55633


    webhook:
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.10.0@sha256:a8ed630613de277244dfe203cd11d05905d7eeba8d8c41e399b02ee9a847b2f5
      gatewayDefault: false
      gatewayLabel: setGateway
      gatewayAnnotation: setGateway
      namespaceSelector:
        label: "vpn-routed-gateway"
