---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app i2pd
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    defaultPodOptions:
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true # This is pain, but for some reason the container doesn't seem to reply though LB.
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: ${APP_UID}
        runAsGroup: ${APP_GID}
        fsGroup: ${APP_GID}
        fsGroupChangePolicy: "OnRootMismatch"


    controllers:
      main:
        type: statefulset

        containers:
          main:
            image:
              repository: registry.samipsolutions.fi/docker/purplei2p/i2pd
              tag: release-2.50.0
            env:
              TZ: "Europe/Helsinki"
            probes:
              startup:
                enabled: false
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                memory: 128Mi
              limits:
                memory: 1Gi


    service:
      main:
        enabled: true
        type: NodePort
        ports:
          http:
            port: 7070
          httpproxy:
            port: 4444
          socksproxy:
            port: 4447


    ingress:
      main:
        enabled: true
        className: internal-nginx
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"



    persistence:
      home:
        enabled: true
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /home/i2pd/data
      configfile:
        enabled: true
        type: configMap
        name: i2pd
        globalMounts:
          - path: /home/i2pd/data/i2pd.conf
            subPath: i2pd.conf
            readOnly: true

