apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname radicale
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: ./k8s/nebula/apps/default/radicale/app
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: dav.skylab.fi
      APP_UID: "568"
      APP_GID: "568"
      VOLSYNC_CLAIM: radicale-data
      VOLSYNC_CAPACITY: 2Gi
      VOLSYNC_STORAGECLASS: ceph-block
      VOLSYNC_SNAPSHOTCLASS: csi-ceph-blockpool

