---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name sonarr
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Sonarr
        SONARR__AUTH__APIKEY: "{{ .SONARR_APIKEY }}"
        SONARR__POSTGRES__MAINDB: sonarr_media_main
        SONARR__POSTGRES__USER: "{{ .SONARR_POSTGRES_USER }}"
        SONARR__POSTGRES__PASSWORD: "{{ .SONARR_POSTGRES_PASS }}"
        SONARR__POSTGRES__HOST: &dbhost postgres16-rw.databases.svc.cluster.local
        SONARR__POSTGRES__PORT: "5432"
        # Postgres Init
        INIT_POSTGRES_DBNAME: sonarr_media_main
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_USER: "{{ .SONARR_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .SONARR_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - find:
        name:
          regexp: .*
