---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
#  - ./externalsecret.yaml
  - ./secret.sops.yaml
  - ./helm-release.yaml
  - ./pvc.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
