apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
resources:
  - ./helm-release.yaml
  - ../../../../../templates/volsync
  - ./secret.sops.yaml
labels:
  - pairs:
      app.kubernetes.io/name: mosquitto
      app.kubernetes.io/instance: mosquitto