---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blackbox-exporter
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-blackbox-exporter
      version: 9.1.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-charts
        namespace: flux-system
      interval: 30m
  values:
    fullnameOverride: blackbox-exporter

    image:
      registry: quay.io

    podSecurityContext:
      sysctls:
        - name: net.ipv4.ping_group_range
          value: "0 2147483647"

    config:
      modules:
        http_2xx:
          prober: http
          timeout: 5s
          http:
            valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
            follow_redirects: true
            preferred_ip_protocol: "ip4"
        icmp4:
          prober: icmp
          timeout: 30s
          icmp:
            preferred_ip_protocol: "ip4"
        icmp6:
          prober: icmp
          timeout: 30s
          icmp:
            preferred_ip_protocol: "ip6"

    ingress:
      enabled: true
      className: internal-nginx
      hosts:
        - host: &host "blackbox-exporter.skylab.fi"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host

    prometheusRule:
      enabled: true
      additionalLabels:
        app: prometheus-operator
        release: prometheus
      rules:
        - alert: BlackboxSslCertificateWillExpireSoon
          expr: probe_ssl_earliest_cert_expiry - time() < 86400 * 3
          for: 15m
          labels:
            severity: critical
          annotations:
            description: |-
              The SSL certificate for {{"{{ $labels.target }}"}} will expire in less than 3 days
        - alert: BlackboxSslCertificateExpired
          expr: probe_ssl_earliest_cert_expiry - time() <= 0
          for: 15m
          labels:
            severity: critical
          annotations:
            description: |-
              The SSL certificate for {{"{{ $labels.target }}"}} has expired
        - alert: BlackboxProbeFailed
          expr: probe_success == 0
          for: 15m
          labels:
            severity: critical
          annotations:
            description: |-
              The host {{"{{ $labels.target }}"}} is currently unreachable

    pspEnabled: false

    securityContext:
      # IPv6 sockets will not work otherwise.
      # See https://github.com/prometheus/blackbox_exporter/issues/1023 for details
      runAsUser: 0
      runAsGroup: 0
      runAsNonRoot: false
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: true
      capabilities:
        add:
          - NET_ADMIN
          - NET_RAW

    serviceMonitor:
      enabled: true
      defaults:
        labels:
          release: prometheus
        interval: 1m
        scrapeTimeout: 30s
      targets:
        - module: icmp4
          name: nas-icmp
          url: 192.168.2.2

        - module: icmp4
          name: ping-cloudflare
          url: 1.1.1.1
          scrape_interval: 30s
        - module: icmp6
          name: ping6-aroot-fi
          url: a.fi
          scrape_interval: 30s
