---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flaresolverr
  namespace: media
spec:
  dependsOn:
    - name: vpn-gateway
      namespace: vpn
  interval: 5m
  install:
    timeout: 15m
    remediation:
      retries: 5
  upgrade:
    timeout: 15m
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      annotations:
        setGateway: "true"

    controllers:
      flaresolverr:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/flaresolverr/flaresolverr
              tag: v3.3.21
            env:
              TZ: "Europe/Helsinki"
              LOG_LEVEL: debug
            resources:
              requests:
                cpu: 100m
                memory: 512M
              limits:
                memory: 800M
    service:
      flaresolverr:
        controller: flaresolverr
        ports:
          http:
            port: 8191
