apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-storage-local-path
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-storage-snapshot-controller
  path: ./k8s/media/apps/storage/local-path/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  timeout: 5m