---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name assistant
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Home Assistant
        RECORDER_DB_URL: "postgresql://{{ .PG_USER }}:{{ .PG_PASS }}@{{ .PG_HOST }}/home_assistant"
        SECRET_INTERNAL_URL: https://hass.skylab.fi
        SECRET_EXTERNAL_URL: https://hass.skylab.fi
  dataFrom:
    - extract:
        key: assistant
---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name2 assistant-init
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name2
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Postgres Init
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
        INIT_POSTGRES_PASS: "{{ .PG_PASS }}"
        INIT_POSTGRES_USER: "{{ .PG_USER }}"
        INIT_POSTGRES_HOST: "{{ .PG_HOST }}"
        INIT_POSTGRES_DBNAME: "home_assistant"
  dataFrom:
    - extract:
        key: assistant
    - extract:
        key: cloudnative-pg
