---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sabnzbd
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: sabnzbd-secret
    template:
      engineVersion: v2
      data:
        CROSS_SEED_API_KEY: "{{ .CROSS_SEED_API_KEY }}"
        PUSHOVER_TOKEN: "{{ .SABNZBD_PUSHOVER_TOKEN }}"
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
        SABNZBD__API_KEY: &apiKey "{{ .SABNZBD_API_KEY }}"
        SABNZBD__NZB_KEY: *apiKey
  dataFrom:
    - extract:
        key: cross-seed
    - extract:
        key: pushover
    - extract:
        key: sabnzbd
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sabnzbd-vpn
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: sabnzbd-vpn-secret
    template:
      engineVersion: v2
      data:
        WIREGUARD_PRIVATE_KEY: "{{ .WIREGUARD_PRIVATE_KEY }}"
        WIREGUARD_PRESHARED_KEY: "{{ .WIREGUARD_PRESHARED_KEY }}"
        WIREGUARD_ADDRESSES: "{{ .WIREGUARD_ADDRESSES }}"
        WIREGUARD_DNS: "{{ .WIREGUARD_DNS }}"
        #OPENVPN_USER: "{{ .OPENVPN_USER }}"
        #OPENVPN_PASSWORD: "{{ .OPENVPN_PASSWORD }}"
  dataFrom:
    - extract:
        key: sabnzbd-vpn
#---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
# apiVersion: external-secrets.io/v1
# kind: ExternalSecret
# metadata:
#   name: "${APP}-volsync-minio"
# spec:
#   secretStoreRef:
#     kind: ClusterSecretStore
#     name: onepassword-connect
#   target:
#     name: "${APP}-volsync-minio"
#     creationPolicy: Owner
#     template:
#       engineVersion: v2
#       data:
#         RESTIC_REPOSITORY: "{{ .REPOSITORY_TEMPLATE }}/${APP}"
#         RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
#         AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
#         AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
#   dataFrom:
#     - extract:
#         key: volsync-restic-minio-template