---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: littlelink
  namespace: collab
spec:
  interval: 30m
  releaseName: littlelink
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      littlelink:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/techno-tim/littlelink-server
              tag: latest@sha256:f953db398533c453745e1db670680e1cbf7e36072eaec0d938fef81334a72553
            env:
              TZ: "Europe/Helsinki"
              META_TITLE: Skyler Mäntysaari
              META_DESCRIPTION: Skyler M Link Page
              META_AUTHOR: Skyler Mäntysaari
              THEME: Dark
              FAVICON_URL: https://avatars.githubusercontent.com/u/1703002?v=4
              AVATAR_URL: https://avatars.githubusercontent.com/u/1703002?v=4
              AVATAR_2X_URL: https://avatars.githubusercontent.com/u/1703002?v=4
              AVATAR_ALT: Skyler Mäntysaari
              NAME: Skyler Mäntysaari
              BIO: "Hobbyist developer | Gamer | #ActuallyAutistic | I.T-student"
              BUTTON_ORDER: Website,GITHUB,GITLAB,FORGEJO,LINKED_IN,MATRIX,DISCORD,TELEGRAM
              GITHUB: https://github.com/samip5
              GITLAB: https://gitlab.com/samip5
              FORGEJO: https://git.skysolutions.fi
              CUSTOM_BUTTON_ALT_TEXT: Donation link,Website link
              CUSTOM_BUTTON_ICON: fas fa-donate,fa-solid fa-globe
              CUSTOM_BUTTON_NAME: Donate,Website
              CUSTOM_BUTTON_COLOR: "#ffffff,#ffffff"
              CUSTOM_BUTTON_TEXT: Buy me a coffee,Main website
              CUSTOM_BUTTON_TEXT_COLOR: "#ED2756,#00000"
              CUSTOM_BUTTON_URL: https://www.buymeacoffee.com/skykrypt,https://skym.fi
              BUTTON_TARGET: _blank
              LINKED_IN: https://linkedin.com/in/samip537
              TWITTER: https://twitter.com/mantysaaris
              TELEGRAM: https://t.me/samip537
              DISCORD: https://discord.com/users/157970669261422592
              MATRIX: https://matrix.to/#/@sm:pikaviestin.fi
              MATOMO_URL: https://skym.fi/matomo
              MATOMO_SITE_ID: 8
              TRAKT: https://trakt.tv/users/krypt98
              STEAM: https://steamcommunity.com/id/samip537
              EMAIL: sm+me@skym.fi
              EMAIL_TEXT: Email me!
              FOOTER: Skyler Mäntysaari © 2022-2024
            resources:
              requests:
                cpu: 50m
                memory: 64M
              limits:
                cpu: 100m
                memory: 100M
    service:
      main:
        controller: littlelink
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: true
        className: "external-nginx"
        annotations:
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
          external-dns.alpha.kubernetes.io/target: "ingress-cf.skylab.fi"
        hosts:
          - host: "links.skylab.fi"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: 3000
        tls:
          - hosts:
              - "links.skylab.fi"
      int:
        enabled: true
        className: "internal-nginx"
        hosts:
          - host: "links.skylab.fi"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: 3000
        tls:
          - hosts:
              - "links.skylab.fi"
