---
# yaml-language-server: $schema=https://kubernetes-schemas.skylab.fi/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matrix-token
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: registry.skysolutions.fi/library/matrix-login
              tag: latest
            envFrom:
              - secretRef:
                  name: matrix-login-secret



    service:
      app:
        controller: main
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        className: external-nginx
        annotations:
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
          external-dns.alpha.kubernetes.io/target: ingress.skylab.fi
        hosts:
          - host: &host "{{ .Release.Name }}.skylab.fi"
            paths:
              - path: /
                service:
                  identifier: app
                  port: 8080
        tls:
          - hosts:
              - *host
      int:
        enabled: true
        className: internal-nginx
        annotations:
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: 8080
        tls:
          - hosts:
              - *host
