apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: recyclarr
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  path: ./k8s/nebula/apps/media/recyclarr/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  timeout: 5m
