---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: infra
spec:
  interval: 15m
  chart:
    spec:
      chart: external-secrets
      version: 0.10.7
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
      interval: 15m
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    installCRDs: true
    replicaCount: 1
    extraArgs:
      loglevel: debug
