---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: networking
spec:
  interval: 5m
  timeout: 10m0s
  chart:
    spec:
      # renovate: registryUrl=https://kubernetes.github.io/ingress-nginx
      chart: ingress-nginx
      version: 4.12.3
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx-charts
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: 10m
    recreate: true
    cleanupOnFail: true
  values:
    controller:
      replicaCount: 1
      allowSnippetAnnotations: true
      priorityClassName: system-cluster-critical
      config:
        proxy-body-size: 0
        proxy-buffer-size: 16k
        hsts: false
        ssl-prefer-server-ciphers: false
        ssl-protocols: "TLSv1.3 TLSv1.2"
        ssl-redirect: false
        server-tokens: false
        enable-real-ip: true
        enable-brotli: "true"
        #custom-http-errors: 404,403
        log-format-escape-json: "true"
        log-format-upstream: '{"time": "$time_iso8601", "remote_addr": "$proxy_protocol_addr", "x_forwarded_for": "$proxy_add_x_forwarded_for", "request_id": "$req_id",
               "remote_user": "$remote_user", "bytes_sent": $bytes_sent, "request_time": $request_time, "status": $status, "vhost": "$host", "request_proto": "$server_protocol",
               "path": "$uri", "request_query": "$args", "request_length": $request_length, "duration": $request_time,"method": "$request_method", "http_referrer": "$http_referer",
               "http_user_agent": "$http_user_agent" }'
        addHeaders: "networking/nginx-custom"
      use-forwarded-headers: "true"
      service:
        enabled: true
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "10.41.69.80,2001:14ba:45a:962d::443"
        externalTrafficPolicy: Cluster
        ipFamilyPolicy: "PreferDualStack"
        ipFamilies:
          - IPv4
          - IPv6
      publishService:
        enabled: true

      metrics:
        enabled: false
      extraArgs:
        default-ssl-certificate: "networking/media.skylab.fi-tls"

      resources:
        requests:
          memory: 524M
        limits:
          memory: 524M
    defaultBackend:
      enabled: false
