apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname protu-staging-wordpress
  namespace: flux-system
spec:
  targetNamespace: protu
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: ./k8s/nebula/apps/protu/website/app
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      APP_UID: "0"
      APP_GID: "0"
      VOLSYNC_CLAIM: protu-website-data
      VOLSYNC_CAPACITY: 30Gi
      VOLSYNC_STORAGECLASS: ceph-block
      VOLSYNC_SNAPSHOTCLASS: csi-ceph-blockpool

