---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 100
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 44 # video
          - 125 # render
          - 105 # render
          - 568
    controllers:
      tdarr:
        replicas: 3
        containers:
          node:
            image:
              repository: ghcr.io/haveagitgat/tdarr_node
              tag: 2.28.01
              pullPolicy: IfNotPresent
            env:
              - name: nodeID
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
              - name: serverIP
                value: 10.41.69.55
              - name: serverPort
                value: 8266
            resources:
              requests:
                memory: 600Mi
                cpu: 500m
                gpu.intel.com/i915: 1
              limits:
                gpu.intel.com/i915: 1

    persistence:
      config:
        enabled: true
        type: emptyDir
        advancedMounts:
          tdarr:
            node:
              - path: /app/configs
                subPath: config
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            path: &mediaPath /mnt/merge
            server: 192.168.2.129
        globalMounts:
          - path: *mediaPath
            readOnly: false
      cache:
        enabled: true
        type: nfs
        server: nas.skylab.fi
        path: /volume1/Media/tdarr-cache
        globalMounts:
          - path: /cache




