---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 4.4.0
  install:
    createNamespace: true
    remediation:
      retries: 3
  interval: 15m
  maxHistory: 2
  uninstall:
    keepHistory: false
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 1
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: 'true'
    controllers:
      recyclarr:
        containers:
          app:
            env:
              TZ: Europe/Helsinki
            envFrom:
              - secretRef:
                  name: recyclarr
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.5.2
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              limits:
                memory: 200Mi
              requests:
                cpu: 10m
                memory: 50Mi
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 568
        runAsUser: 568
    persistence:
      config:
        existingClaim: recyclarr-config-v2
      config-file:
        globalMounts:
          - path: /config/recyclarr.yml
            subPath: recyclarr.yml
        name: recyclarr-configmap
        type: configMap
