---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-dns-internal
  namespace: networking
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: externaldns-internal-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        bind_rndc_algorithm: "{{ .EXTERNALDNS_ALGORITHM }}"
        bind_rndc_secret: "{{ .EXTERNALDNS_SECRET }}"
  dataFrom:
    - extract:
        key: external-dns-internal
        decodingStrategy: Auto
