---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
  namespace: system
spec:
  interval: 5m
  chart:
    spec:
      chart: multus
      version: 4.0.0
      sourceRef:
        kind: HelmRepository
        name: angelnu-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/k8snetworkplumbingwg/multus-cni
      tag: v4.1.4

    args:
      - --multus-conf-file=auto


    tolerations:
      - effect: NoSchedule
        operator: Exists
      - effect: NoExecute
        operator: Exists

    cni:
      image:
        repository: ghcr.io/skyssolutions/cni-plugins
        tag: 1.6.1

      paths:
        config: /etc/cni/net.d
        bin: /opt/cni/bin
