apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: index
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: registry.skysolutions.fi/library/nginx-fancyindex
              tag: "28102024"
            env:
              CONTAINER_TIMEZONE: Europe/Helsinki
              DISABLE_AUTH: true
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2000Mi

    service:
      main:
        controller: main
        ports:
          http:
            port: 80
    ingress:
      main:
        className: nginx
        annotations:
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://wa-bs.n.kapsi.fi:40118/api/authz/auth-request
          nginx.ingress.kubernetes.io/auth-signin: https://sso.skylab.fi?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Groups
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
        hosts:
          - host: &host "dh.skylab.fi"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: 80

        tls:
          - hosts:
              - *host
            secretName: "dh.skylab.fi-tls"

      tailscale:
        className: tailscale
        hosts:
          - host: &host2 "dh.tail251312.ts.net"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: 80
        tls:
          - hosts:
              - *host2
            secretName: "dh.tail251312.ts.net-tls"

    persistence:
      data:
        enabled: false
        type: hostPath
        hostPath: "/opt/docker/appdata/caddy_index/index"
        globalMounts:
          - path: /share
      library:
        enabled: true
        type: hostPath
        hostPath: "/var/mnt/merged/library/"
        globalMounts:
          - path: /var/mnt/merged/library
      downloads:
        enabled: true
        type: hostPath
        hostPath: "/var/mnt/merged/Downloads/"
        globalMounts:
          - path: /var/mnt/merged/Downloads/
