apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: kubevirt-flux
  namespace: flux-system
spec:
  interval: 10m0s
  url: https://github.com/JJGadgets/kubevirt-flux.git
  ref:
    branch: v1.2.0
  ignore: |
    # exclude all to whitelist
    /*
    # include operator (with CRDs) and CR to deploy KubeVirt
    !/deploy
