---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name bazarr-db-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: bazarr-secret
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: Opaque
      data:
        POSTGRES_ENABLED: "true"
        POSTGRES_DATABASE: '{{ .POSTGRES_DATABASE }}'
        POSTGRES_HOST: "10.96.69.198"
        POSTGRES_USERNAME: '{{ .POSTGRES_USERNAME }}'
        POSTGRES_PASSWORD: '{{ .POSTGRES_PASSWORD }}'
  dataFrom:
    - extract:
        key: bazarr
