---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app bazarr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 100

    controllers:
      bazarr:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          bazarr:
            image:
              repository: ghcr.io/onedr0p/bazarr
              tag: 1.5.1@sha256:b8fa3c3c2a5b7fe045e8f8eb95feac3c50b37837478ecc11d49db8fa8ddff683
            env:
              TZ: "Europe/Helsinki"
            envFrom:
              - secret: bazarr-secret
            resources:
              requests:
                cpu: 23m
                memory: 512M
              limits:
                memory: 1Gi
          subcleaner:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1
            args:
              - --repo=https://github.com/KBlixt/subcleaner
              - --ref=master
              - --period=86400s # 1 day
              - --root=/add-ons
            resources:
              requests:
                cpu: 10m
                memory: 10M
              limits:
                memory: 128M

    service:
      main:
        controller: bazarr
        ports:
          http:
            port: &port 6767

    route:
      app:
        hostnames:
          - "bazarr.media.skylab.fi"
        annotations:
          hajimari.io/icon: mdi:subtitles-outline
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https-media
        rules:
          - backendRefs:
              - name: *app
                port: *port


    persistence:
      config:
        existingClaim: bazarr-config-v1
      add-ons:
        type: emptyDir
        globalMounts:
          - path: /add-ons
      scripts:
        type: configMap
        name: bazarr-scripts # overriden by kustomizeconfig
        defaultMode: 0775
        globalMounts:
          - path: /scripts
            readOnly: true
      media-tv:
        type: hostPath
        hostPath: "/var/mnt/merged/library/TV Shows/"
        globalMounts:
          - path: "/var/mnt/merged/library/TV Shows/"
          - path: "/merge/tv"
      nas:
        type: hostPath
        hostPath: "/mnt/nas"
        globalMounts:
          - path: /mnt/nas
      media-movies:
        type: hostPath
        hostPath: "/var/mnt/merged/library/Movies"
        globalMounts:
          - path: "/merge/Movies"
          - path: "/var/mnt/merged/library/Movies"
