apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./secret.sops.yaml
  - ./helm-release.yaml
  - ./pvc.yaml
configMapGenerator:
  - name: bazarr-scripts
    files:
      - post-process.sh=./scripts/post-process.sh
configurations:
  - ./patches/kustomizeconfig.yaml
