apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bazarr-config-v1
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-hostpath
