apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: private-cluster
  namespace: flux-system
spec:
  interval: 30m
  url: ssh://git@git.skysolutions.fi:222/kryptonian/k3s-cluster.git
  secretRef:
    name: private-cluster-ssh-credentials
  ref:
    branch: main
  ignore: |
    # exclude all
    /*
    # include cluster directory
    !/cluster
