apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname paperless
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: rook-ceph-cluster
    - name: cluster-apps-volsync
  path: ./k8s/nebula/apps/default/paperless/app
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: paperless.skylab.fi
      APP_UID: "1000"
      APP_GID: "100"
      VOLSYNC_CLAIM: paperless-data
      VOLSYNC_CAPACITY: 15Gi
      VOLSYNC_STORAGECLASS: ceph-block
      VOLSYNC_SNAPSHOTCLASS: csi-ceph-blockpool
