---
apiVersion: k8s.mariadb.com/v1alpha1
kind: User
metadata:
  name: protu
spec:
  mariaDbRef:
    name: mariadb-galera
  passwordSecretKeyRef:
    name: protu-staging-db-credentials
    key: password
  maxUserConnections: 20
