apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: snapshot-validation-webhook
  namespace: storage
spec:
  interval: 15m
  chart:
    spec:
      chart: snapshot-validation-webhook
      version: 1.9.0
      sourceRef:
        kind: HelmRepository
        name: piraeus-charts
        namespace: flux-system
  install:
    createNamespace: true
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    crds: Skip
    remediation:
      retries: 3
  dependsOn:
    - name: snapshot-controller
