---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name radarr
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        RADARR__AUTH__APIKEY: "{{ .RADARR_API_KEY }}"
        RADARR__POSTGRES__MAINDB: radarr_media_main
        RADARR__POSTGRES__USER: "{{ .RADARR__POSTGRES_USER }}"
        RADARR__POSTGRES__PASSWORD: "{{ .RADARR__POSTGRES_PASSWORD }}"
        RADARR__POSTGRES__HOST: &dbhost postgres16-rw.databases.svc.cluster.local
        RADARR__POSTGRES__PORT: "5432"
        # Postgres Init
        INIT_POSTGRES_DBNAME: radarr_media_main
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_USER: "{{ .RADARR__POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .RADARR__POSTGRES_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: radarr

