---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: radarr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [ 100 ]
      annotations:
        reloader.stakater.com/auto: "true"

    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/radarr-develop
              tag: 5.16.3.9541@sha256:af1d6a1fb22f135997ed90ec65a5ebc0dec917576f7267002a6b5b4144aedaa0
            env:
              TZ: Europe/Helsinki
              RADARR__INSTANCE_NAME: Radarr
              RADARR__APP__THEME: dark
              RADARR__SERVER__PORT: &port 80
              RADARR__APPLICATION_URL: "https://radarr.media.skylab.fi"
              RADARR__LOG_LEVEL: info
              RADARR__LOG__DBENABLED: false
              RADARR__AUTH__METHOD: External
              RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2000Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false

    service:
      main:
        controller: main
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: nginx
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.skylab.fi/css/base/radarr/nord.css"></head>';
            sub_filter_once on;
          hajimari.io/icon: mdi:filmstrip
        hosts:
          - host: &host "radarr.media.skylab.fi"
            paths:
              - path: /
                service:
                  identifier: main
                  port: *port


        tls:
          - hosts:
              - *host
            secretName: media.skylab.fi-tls

    persistence:
      config:
        enabled: true
        existingClaim: radarr-config-v1
        globalMounts:
          - path: /config
      movies-kids:
        enabled: true
        type: hostPath
        hostPath: "/var/mnt/merged/library/Kid Movies"
        globalMounts:
          - path: /merge/movies_kids
      movies:
        enabled: true
        type: hostPath
        hostPath: "/var/mnt/merged/library/Movies"
        globalMounts:
          - path: /merge/movies
      downloads:
        enabled: true
        type: hostPath
        hostPath: "/var/mnt/merged/Downloads/"
        globalMounts:
          - path: /var/mnt/merged/Downloads/
