apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: porla
  namespace: downloads
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      fullnameOverride: porla
    hostname: porla
    automountServiceAccountToken: false
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/porla/porla
      tag: beta-latest@sha256:b84ae2914fa497f2348226d240d9141504f56a659ec06422b34317fe1390d131
    envFrom:
      - secretRef:
          name: porla-secrets

    service:
      main:
        ports:
          http:
            port: 1337
    ingress:
      main:
        enabled: true
        ingressClassName: internal-nginx
        hosts:
          - host: &host porla.skylab.fi
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups: [10000]

    podAnnotations:
      setGateway: "true"

    persistence:
      config:
        enabled: true
        existingClaim: porla-config-v1
      config-file:
        enabled: true
        type: configMap
        name: porla-configmap
        subPath: config.toml
        mountPath: /config/config.toml
        readOnly: true
      media:
        enabled: true
        type: nfs
        server: "192.168.2.2"
        path: /volume1/Media
        mountPath: /media
    nodeSelector:
      kubernetes.io/arch: amd64
    resources:
      requests:
        cpu: 10m
        memory: 250Mi
      limits:
        memory: 2Gi
