---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    defaultPodOptions:
      priorityClassName: home-cluster-critical
      automountServiceAccountToken: false
      securityContext:
        runAsUser: ${APP_UID}
        runAsGroup: ${APP_GID}
        fsGroup: ${APP_GID}
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 100
      tolerations:
        - key: "cm4"
          operator: "Exists"
          effect: ""


    controllers:
      esphome:
        type: statefulset

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "interface": "eth1",
                "namespace": "kube-system",
                "ips": ["10.0.50.35/24"]
              }]

        containers:
          main:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2024.12.1
            env:
              PLATFORMIO_CORE_DIR: /cache/platformio
              PLATFORMIO_GLOBALLIB_DIR: /cache/platformio/lib
              PLATFORMIO_SETTING_ENABLE_TELEMETRY: No
            resources:
              requests:
                cpu: 5m
                memory: 1374M
              limits:
                memory: 2048M


    service:
      main:
        controller: esphome
        type: ClusterIP
        ports:
          http:
            port: 6052

    ingress:
      main:
        enabled: true
        className: "internal-nginx"
        annotations:
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: "chip"
        hosts:
          - host: &host "esph.skylab.fi"
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /config
      esphome-cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /config/.esphome
          - path: /cache
            subPath: cache

