---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: &name volsync-restic-template
spec:
  provider:
    doppler:
      project: *name
      config: prd
      auth:
        secretRef:
          dopplerToken:
            name: doppler-token-auth-api
            key: dopplerToken
            namespace: flux-system
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: &name2 volsync-restic-minio-template
spec:
  provider:
    doppler:
      project: *name2
      config: prd
      auth:
        secretRef:
          dopplerToken:
            name: doppler-token-auth-api
            key: dopplerToken
            namespace: flux-system
