apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: eck-operator
  namespace: flux-system
spec:
  path: ./k8s/nebula/apps/search/elk/operator
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 5m
