apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-jellyseer
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  path: ./k8s/nebula/apps/media/jellyseer/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  timeout: 5m