---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: tvheadend
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: ${APP_UID}
        runAsGroup: ${APP_GID}
        fsGroup: ${APP_GID}
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 44
          - 212
          - 109
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: hauppauge.feature.node.kubernetes.io/tuner
                    operator: In
                    values:
                      - "true"

    controllers:
      tvheadend:
        containers:
          tvheadend:
            image:
              repository: registry.skysolutions.fi/library/tvheadend
              tag: 4.3.10225@sha256:071821d6a7142794f97c103d3742812c361539d0d84afa4266f71cdf7abf4de4
            command: "/entrypoint.sh"
            args: ["--noacl"]
            env:
              TZ: "Europe/Helsinki"
            securityContext:
              privileged: true

    service:
      tvheadend:
        controller: tvheadend
        type: LoadBalancer
        ports:
          http:
            port: 9981
          htsp:
            port: 9982
    ingress:
#      main:
#        enabled: true
#        className: "external-nginx"
#        annotations:
#          hajimari.io/icon: mdi:television-box
#          hajimari.io/group: Media
#          nginx.ingress.kubernetes.io/auth-method: GET
#          nginx.ingress.kubernetes.io/auth-url: http://10.0.0.56:40119/api/verify
#          nginx.ingress.kubernetes.io/auth-signin: https://sso.samip.fi?rm=$request_method
#          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Groups
#          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
#          nginx.ingress.kubernetes.io/configuration-snippet: |
#            proxy_set_header Host $host;
#            proxy_set_header X-Real-IP $remote_addr;
#            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#            send_timeout 100m;
#            proxy_set_header Upgrade $http_upgrade;
#            proxy_set_header Connection "Upgrade";
#        hosts:
#          - host: "${HOSTNAME}"
#            paths:
#              - path: /
#                pathType: Prefix
#                service:
#                  identifier: tvheadend
#                  port: 9981
#        tls:
#          - hosts:
#              - "${HOSTNAME}"
      int:
        enabled: true
        className: "internal-nginx"
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            send_timeout 100m;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: tvheadend
                  port: 9981
        tls:
          - hosts:
              - "${HOSTNAME}"

    persistence:
      config:
        enabled: true
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /config
      recordings:
        enabled: true
        type: nfs
        server: 192.168.2.2
        path: /volume1/recordings
        globalMounts:
          - path: /recordings
      timeshift:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /timeshift
      dev:
        enabled: true
        type: hostPath
        hostPath: /dev/
        globalMounts:
          - path: /dev/
    resources:
      requests:
        gpu.intel.com/i915: 1
        cpu: 100m
        memory: 20Mi
      limits:
        gpu.intel.com/i915: 1
        cpu: 1000m
        memory: 1096Mi
