---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: renovate
  namespace: flux-system
spec:
  interval: 30m
  url: https://docs.renovatebot.com/helm-charts/
  timeout: 3m
