---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: linkwarden
  namespace: default
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: linkwarden
  target:
    name: linkwarden-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        DATABASE_URL: "postgres://{{ .LINKWARDEN_DATABASE_USER }}:{{ .LINKWARDEN_DATABASE_PASS }}@{{ .POSTGRES_HOST }}:5432/{{ .LINKWARDEN_DATABASE_NAME }}"
        NEXTAUTH_SECRET: "{{ .NEXTAUTH_SECRET }}"
        AUTHENTIK_CLIENT_ID: "{{ .AUTHENTIK_CLIENT_ID }}"
        AUTHENTIK_ISSUER: "{{ .AUTHENTIK_ISSUER }}"
        AUTHENTIK_CLIENT_SECRET: "{{ .AUTHENTIK_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: linkwarden
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: linkwarden-init
  namespace: default
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: linkwarden
  target:
    name: linkwarden-init-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Postgres Init
        INIT_POSTGRES_HOST: "{{ .POSTGRES_HOST }}"
        INIT_POSTGRES_DBNAME: "{{ .LINKWARDEN_DATABASE_NAME }}"
        INIT_POSTGRES_USER: "{{ .LINKWARDEN_DATABASE_USER }}"
        INIT_POSTGRES_PASS: "{{ .LINKWARDEN_DATABASE_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: linkwarden
    - extract:
        key: cloudnative-pg

