apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-externaldns-shared
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  targetNamespace: networking
  path: ./k8s/nebula/apps/networking/external-dns/shared
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  timeout: 5m