---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: quay.io/prometheus/alertmanager
      tag: main@sha256:6d241398f192f4caf91a1b8516ae517ccd21f24ec0531aba55f6fd210ccf7829

    podAnnotations:
      reloader.stakater.com/auto: "true"

    service:
      main:
        ports:
          http:
            port: 9093

    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        hosts:
          - host: &host alertmanager.skylab.fi
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        type: configMap
        name: alertmanager-configmap
        mountPath: /etc/alertmanager
        readOnly: true
      secrets:
        enabled: false
        type: secret
        name: alertmanager-secret
        mountPath: /etc/secrets
        readOnly: true

    resources:
      requests:
        cpu: 11m
        memory: 50M
      limits:
        memory: 99M

    volumeClaimTemplates:
      - name: storage
        mountPath: /alertmanager
        accessMode: ReadWriteOnce
        size: 50Mi
        storageClass: ceph-block