apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: mongodb
  namespace: database
spec:
  chart:
    spec:
      chart: mongodb
      version: 16.4.2
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  interval: 10m0s
  values:
    global:
      imageRegistry: "registry.skysolutions.fi/docker"
    image:
      repository: bitnami/mongodb
      tag: '7.0'
      pullPolicy: IfNotPresent
    strategy:
      type: Recreate
    architecture: standalone
    useStatefulSet: true
    clusterDomain: "skylab.fi"
    auth:
      enabled: false
    persistence:
      enabled: true
      existingClaim: "${VOLSYNC_CLAIM}"
    service:
      type: ClusterIP
    externalAccess:
      enabled: true
      service:
        type: LoadBalancer
    diagnosticMode:
      enabled: false
    backup:
      enabled: false
    metrics:
      enabled: false
    resources:
      requests:
        memory: 100Mi
        cpu: 10m
      limits:
        memory: 400Mi
        cpu: 900m
