image:
  repository: coredns/coredns
  tag: 1.12.1

fullnameOverride: coredns

replicaCount: 3

service:
  name: kube-dns
  clusterIP: 10.96.0.10
  annotations:
    fix.coredns.template: "fnord"

serviceAccount:
  create: true

prometheus:
  service:
    enabled: true

podAnnotations:
  configmap.reloader.stakater.com/reload: "coredns"

servers:
  - zones:
      - zone: .
        scheme: dns://
        use_tcp: true
    port: 53
    plugins:
      - name: log
      - name: errors
      - name: health
        configBlock: |-
          lameduck 5s
      - name: ready
      - name: kubernetes
        parameters: cluster.local in-addr.arpa ip6.arpa
        configBlock: |-
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
          ttl 30
      # - name: hosts
      #   parameters: /etc/coredns/NodeHosts
      #   configBlock: |-
      #     ttl 60
      #     reload 15s
      #     fallthrough
      - name: prometheus
        parameters: 0.0.0.0:9153
      - name: forward
        parameters: . 2606:4700:4700::1111 1.0.0.1 9.9.9.9
      - name: cache
        parameters: 30
      - name: loop
      - name: reload
      - name: loadbalance

tolerations:
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
  - key: node-role.kubernetes.io/master
    operator: Exists
  - key: node-role.kubernetes.io/etcd
    operator: Exists

topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: DoNotSchedule
    labelSelector:
      matchLabels:
        app.kubernetes.io/instance: coredns
