---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    #initContainers:
    #  01-init-db:
    #    image: ghcr.io/onedr0p/postgres-init:14.9
    #    imagePullPolicy: IfNotPresent
    #    envFrom: &envFrom
    #      - secretRef:
    #          name: prowlarr
    controller:
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/onedr0p/prowlarr-develop
      tag: 1.14.1.4316@sha256:882daa1e28f989bc6d76ea7ab7e729da3d9a7a67714e6db606a8ef45a6e6c14b
    env:
      PROWLARR__INSTANCE_NAME: Prowlarr
      PROWLARR__PORT: &port 80
      PROWLARR__LOG_LEVEL: info
      PROWLARR__AUTHENTICATION_METHOD: External
    envFrom:
      - secretRef:
          name: prowlarr
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        ingressClassName: external-nginx
        annotations:
          external-dns.target/enabled: "true"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.skylab.fi/css/base/prowlarr/nord.css"></head>';
            sub_filter_once on;
          external-dns-cf/is-dns-public: "true"
        hosts:
          - host: &host "{{ .Release.Name }}.skylab.fi"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
      internal:
        enabled: true
        ingressClassName: internal-nginx
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.skylab.fi/css/base/prowlarr/nord.css"></head>';
            sub_filter_once on;
        hosts:
          - host: &host-int "{{ .Release.Name }}.skylab.fi"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host-int
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        enabled: true
        existingClaim: prowlarr-config-v1
      backup:
        enabled: false
        existingClaim: prowlarr-backup-v1
        mountPath: /config/Backups
    resources:
      requests:
        memory: 127Mi
      limits:
        memory: 300Mi
