---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: buildkitd-arm64
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.5.1
  maxHistory: 2
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      buildkitd-arm64:
        containers:
          app:
            args:
              - --root
              - /cache
              - --addr
              - unix:///run/buildkit/buildkitd.sock
              - --addr
              - tcp://0.0.0.0:1234
            image:
              repository: ghcr.io/vaskozl/buildkit
              tag: 0.16.0@sha256:12cf3cc5c22cfa7afb47f3871ada540c29164974325204d24b6fd08853b000cc
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                cpu: 2
                memory: 1.6Gi
              requests:
                cpu: 200m
                ephemeral-storage: 10Gi
                memory: 1.6Gi
            securityContext:
              privileged: true
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/arch: arm64
    persistence:
      cache:
        type: emptyDir
    service:
      app:
        controller: buildkitd-arm64
        ports:
          mtls:
            enabled: true
            port: 1234
