apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-cross-seed
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  dependsOn:
    - name: cluster-apps-qbittorrent
  path: ./k8s/media/apps/media/cross-seed/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  timeout: 5m
