---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name unpackerr
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Sonarr
        UN_SONARR_0_API_KEY: "{{ .SONARR_APIKEY }}"
        UN_RADARR_0_API_KEY: "{{ .RADARR_APIKEY }}"
  dataFrom:
    - extract:
        key: unpackerr
