---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zipline
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false

    controllers:
      zipline:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/diced/zipline
              tag: v3.7.11
            env:
              TZ: "Europe/Helsinki"
              DATASOURCE_S3_USE_SSL: "true"
              DATASOURCE_S3_FORCE_S3_PATH: "true"
              DATASOURCE_TYPE: "s3"
              CORE_RETURN_HTTPS: "true"
              CORE_HTTPS: "true"
              CORE_HOST: "0.0.0.0"
              CORE_PORT: "3000"
              CORE_COMPRESSION_ENABLED: "false"
              EXIF_ENABLED: "false"
              EXIF_REMOVE_GPS: "true"
              FEATURES_INVITES: "false"
              FEATURES_INVITES_LENGTH: "16"
              FEATURES_OAUTH_REGISTRATION: "true"
              FEATURES_USER_REGISTRATION: "false"
              FEATURES_HEADLESS: "false"
              RATELIMIT_USER: "5"
              RATELIMIT_ADMIN: "1"
              UPLOADER_DEFAULT_FORMAT: "DATE"
              UPLOADER_ROUTE: "/i"
              UPLOADER_ADMIN_LIMIT: "100gb"
              UPLOADER_USER_LIMIT: "500mb"
              UPLOADER_DISABLED_EXTENSIONS: "ps1,bat,exe,sh,fish"
              UPLOADER_FORMAT_DATE: "YYYY-MM-DD_HH-mm-ss"
              UPLOADER_DEFAULT_EXPIRATION: ""
              URLS_ROUTE: &shorten "/go"
              URLS_LENGTH: "6"
              WEBSITE_TITLE: "Zipline"
              WEBSITE_SHOW_FILES_PER_USER: "false"
              WEBSITE_SHOW_VERSION: "true"
              WEBSITE_DISABLE_MEDIA_PREVIEW: "false"
              OAUTH_AUTHENTIK_CLIENT_ID: "XGyLZHRJ992IMgBaN4M9eXnYZvqi011x1k9wiMNi"
              OAUTH_AUTHENTIK_AUTHORIZE_URL: "https://id.skylab.fi/application/o/authorize/"
              OAUTH_AUTHENTIK_USERINFO_URL: "https://id.skylab.fi/application/o/userinfo/"
              OAUTH_AUTHENTIK_TOKEN_URL: "https://id.skylab.fi/application/o/token/"
            envFrom:
              - secretRef:
                  name: zipline-secret
            resources:
              requests:
                memory: 512Mi
              limits:
                memory: 4Gi

    service:
      main:
        controller: zipline
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: true
        className: external-nginx
        annotations:
          external-dns.alpha.kubernetes.io/target: "ingress.skylab.fi"
        hosts:
          - host: &host "z.skylab.fi"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
      internal:
        enabled: true
        className: internal-nginx
#        annotations:
#          nginx.ingress.kubernetes.io/proxy-buffering: "off"
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http

        tls:
          - hosts:
              - *host
      short:
        enabled: true
        className: external-nginx
        annotations:
          external-dns.alpha.kubernetes.io/target: "ingress-cf.skylab.fi"
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
          external-dns-cf/is-dns-public: "true"
        hosts:
          - host: &shorten-domain "d10.fi"
            paths:
              - path: *shorten
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *shorten-domain

      short-rewrite:
        enabled: true
        className: external-nginx
        annotations:
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
          external-dns.alpha.kubernetes.io/target: "ingress-cf.skylab.fi"
          nginx.ingress.kubernetes.io/use-regex: "true"
          nginx.ingress.kubernetes.io/rewrite-target: /go/$1
        hosts:
          - host: *shorten-domain
            paths:
              - path: /(.*)
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *shorten-domain


    #initContainers:
    #  01-init-db:
    #    image: ghcr.io/onedr0p/postgres-init:14.9@sha256:8d5134c75858d0e4672c5301cf225896be5347564cc3b79cab9dd38e37f0ea94
    #    imagePullPolicy: IfNotPresent
    #    envFrom:
    #      - secretRef:
    #          name: zipline-pg-superuser


