---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.19.2
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  dependsOn:
    - name: rook-ceph-operator
  values:
    toolbox:
      enabled: false
      image: quay.io/ceph/ceph:v19.2.3
    cephClusterSpec:
      cephVersion:
        image: quay.io/ceph/ceph:v19.2.3
      external:
        enable: true
      crashCollector:
        disable: true
      healthCheck:
        daemonHealth:
          mon:
            disabled: false
            interval: 45s
      network:
        provider: host
        connections:
          # Requires kernel 5.11
          encryption:
            enabled: true

    cephBlockPools: {}
    cephFileSystems: {}
    cephObjectStores: { }



