---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: proxitok
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      annotations:
        setGateway: "true"
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: "OnRootMismatch"


    controllers:
      main:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/component: main

        containers:
          main:
            order: 2
            image:
              repository: ghcr.io/pablouser1/proxitok
              tag: latest@sha256:9300a54e10314e1fb8b3c2056705d6a931ce979d92793fd972c37ded446ece60
            envFrom:
              - configMapRef:
                  name: "proxitok-configmap"
            resources:
              requests:
                cpu: 100m
                memory: 512M
              limits:
                memory: 600Mi
          redis:
            order: 1
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 7.4.2
              env:
                REDIS_REPLICATION_MODE: master
              command: [ "redis-server", "--save", "50 1", "--loglevel", "notice" ]
          signer:
            order: 3
            image:
              repository: ghcr.io/pablouser1/signtok
              tag: master
            env:
              PORT: 8081
            resources:
              requests:
                memory: 512M
              limits:
                memory: 512M



    service:
      main:
        ports:
          http:
            port: 8080
      signer:
        controller: main
        ports:
          http:
            port: 8081
      redis:
        controller: main
        ports:
          http:
            port: 6379
    ingress:
      main:
        enabled: true
        className: external-nginx
        annotations:
          external-dns.alpha.kubernetes.io/target: "ingress.skylab.fi"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        hosts:
          - host: &host "proxitok.skylab.fi"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: 8080
        tls:
          - hosts:
              - *host
      int:
        enabled: true
        className: internal-nginx
        annotations:
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: 8080
        tls:
          - hosts:
              - *host


    persistence:
      redis:
        enabled: true
        size: 1Gi
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        advancedMounts:
          main:
            redis:
              - path: /data

      cache:
        enabled: true
        size: 1Gi
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        advancedMounts:
          main:
            main:
              - path: /cache
      config:
        enabled: false



