---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: reloader
      version: 2.2.4
      sourceRef:
        kind: HelmRepository
        name: stakater-charts
        namespace: flux-system
      interval: 5m
  values:
    nameOverride: reloader
    fullnameOverride: reloader
    reloader:
      podMonitor:
        enabled: false
        namespace: kube-system
