---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-system-helm-chart-repos
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  path: "./k8s/base/flux-system/helm-chart-repos"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 10m0s
#---
#apiVersion: kustomize.toolkit.fluxcd.io/v1
#kind: Kustomization
#metadata:
#  name: flux-system-webhook
#  namespace: flux-system
#  labels:
#    component.skylab.fi/part-of: definitions
#spec:
#  path: "./k8s/base/flux-system/webhook/github"
#  prune: true
#  sourceRef:
#    kind: GitRepository
#    name: flux-system
#  interval: 10m0s
#---
#apiVersion: kustomize.toolkit.fluxcd.io/v1
#kind: Kustomization
#metadata:
#  name: flux-system-webhook-overlay
#  namespace: flux-system
#  labels:
#    component.skylab.fi/part-of: definitions
#spec:
#  path: "./k8s/base/flux-system/webhook/overlays/nebula"
#  prune: true
#  sourceRef:
#    kind: GitRepository
#    name: flux-system
#  interval: 10m0s