---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infra-namespace
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  path: "./k8s/base/infra"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 10m0s
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infra-external-secrets-operator
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  path: "./k8s/base/infra/external-secrets/operator"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 10m0s
