---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitoring-namespace
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  path: "./k8s/base/monitoring"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 10m0s
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitoring-kps-crds
  namespace: flux-system
  labels:
    component.skylab.fi/part-of: definitions
spec:
  targetNamespace: monitoring
  path: "./k8s/base/monitoring/prom-stack/crds"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 10m0s
