---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: system
  namespace: flux-system
spec:
  path: "./k8s/base/system"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 10m0s
#---
#apiVersion: kustomize.toolkit.fluxcd.io/v1
#kind: Kustomization
#metadata:
#  name: system-intel-device-plugins
#  namespace: flux-system
#spec:
#  path: "./k8s/base/system/intel-device-plugins"
#  prune: true
#  sourceRef:
#    kind: GitRepository
#    name: flux-system
#  interval: 10m0s
