apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: pgadmin
  namespace: databases
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsUser: 5050
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: dpage/pgadmin4
              tag: 8.0
            env:
              PGADMIN_DEFAULT_EMAIL: sm@${SECRET_DOMAIN}
              PGADMIN_DEFAULT_PASSWORD: ${SECRET_PASSWORD}
            resources:
              requests:
                memory: 164M
              limits:
                memory: 236M

    service:
      main:
        ports:
          http:
            port: 80

    persistence:
      config:
        enabled: true
        storageClass: fast-ceph-filesystem
        size: 1Gi
        globalMounts:
          - path: /var/lib/pgadmin
      oauthconfig:
        enabled: true
        type: configMap
        name: pgadmin-local-config-configmap
        subPath: config_local.py
        readOnly: true
        globalMounts:
          - path: /pgadmin4/config_local.py
            subPath: config_local.py
            readOnly: true

    ingress:
      main:
        enabled: true
        ingressClassName: internal-nginx
        hosts:
          - host: pgadmin.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - secretName: ${SECRET_DOMAIN}-tls
            hosts:
              - pgadmin.${SECRET_DOMAIN}
