---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: smtp-relay
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
    timeout: 5m
  upgrade:
    remediation:
      retries: 3
    cleanupOnFail: true
  values:
    image:
      # Pull-though Cache for Docker Hub
      repository: registry.samipsolutions.fi/docker/boky/postfix
      tag: latest

    podAnnotations:
      kyverno-no-tz: "true"


    env:
      RELAYHOST: smtp.dnainternet.fi
      ALLOWED_SENDER_DOMAINS: skylab.fi,pbx.samipsolutions.fi,samipsolutions.fi
      POSTFIX_myhostname: mailer.k8s.skylab.fi
      POSTFIX_mynetworks: 10.244.0.0/16 [fddf:f7bc:9670::]/48 192.168.2.0/24 [2001:14ba:16fd:9600::]/56 10.0.105.0/24 10.0.50.0/24
      POSTFIX_inet_protocols: all

    service:
      main:
        type: LoadBalancer
        #annotations:
        #  metallb.universe.tf/loadBalancerIPs: "192.168.10.11,2001:67c:1104:fc00::11"
        ipFamilyPolicy: RequireDualStack
        ports:
          http:
            port: 587

    probes:
      liveness:
        enabled: false
      startup:
        enabled: false
      readiness:
        enabled: false
    persistence:
      spool:
        enabled: true
        type: emptyDir
        mountPath: /var/spool/postfix

    resources:
      requests:
        cpu: 15m
        memory: 64M
      limits:
        cpu: 15m
        memory: 64M
