---
apiVersion: crd.projectcalico.org/v1
kind: BGPPeer
metadata:
  name: homenet-router-v4
spec:
  peerIP: 10.0.105.1
  asNumber: {{ calico_bgp_as_number }}
---
apiVersion: crd.projectcalico.org/v1
kind: BGPPeer
metadata:
  name: homenet-router-v6
spec:
  peerIP: 2001:67c:1104:e08d::1
  asNumber: {{ calico_bgp_as_number }}
