---
cluster:
  name: nebula
  id: 1

cni:
  exclusive: false

bgp:
  enabled: false
  announce:
    loadbalancerIP: false

bgpControlPlane:
  enabled: true

k8sServiceHost: "10.0.105.34"
k8sServicePort: 6443

rollOutCiliumPods: true
localRedirectPolicy: true

kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
# autoDirectNodeRoutes: true
loadBalancer:
  algorithm: "maglev"
  mode: "dsr"

bpf:
  masquerade: true
  tproxy: true

l7Proxy: true
routingMode: "native"
ipam:
  mode: "kubernetes"

ingressController:
  enabled: false
  loadbalancerMode: shared
  defaultSecretNamespace: networking
  defaultSecretName: skylab.fi-tls

operator:
  rollOutPods: true

ipv4NativeRoutingCIDR: "10.244.0.0/16"
ipv6NativeRoutingCIDR: "fddf:f7bc:9670::/48"

ipv6:
  enabled: true
hubble:
  enabled: true
  tls:
    insecure: true
    auto:
      enabled: true
      method: cronJob
      certValidityDuration: 1095 # 3 years
      schedule: "0 0 1 */4 *"
  metrics:
    enabled:
      - dns:query
      - drop
      - tcp
      - flow
      - port-distribution
      - icmp
      - http
    serviceMonitor:
      enabled: true
    dashboards:
      enabled: true
      label: grafana_dashboard
      namespace: monitoring
      labelValue: "1"
      annotations: { }
  relay:
    enabled: true
    rollOutPods: true
    prometheus:
      enabled: true
  ui:
    enabled: true
    rollOutPods: true
    ingress:
      enabled: true
      className: "internal-nginx"
      annotations:
        cert-manager.io/cluster-issuer: zerossl-production
      hosts:
        - &host "hubble.skylab.fi"
      tls:
        - hosts:
            - *host
          secretName: hubble-tls
