apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-littlelink
  namespace: flux-system
spec:
  path: ./k8s/nebula/apps/collab/littlelink/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  timeout: 5m