apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app echoip
  namespace: services
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    image:
      repository: ghcr.io/samipsolutions/echoip
      tag: rolling
    args: ["-H", "X-Envoy-External-Address", "-H", "X-Forwarded-For", "-p", "-c", "/usr/share/GeoIP/GeoLite2-City.mmdb", "-f", "/usr/share/GeoIP/GeoLite2-Country.mmdb"]
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: hammer-wrench
          external-dns-cf/is-dns-public: "true"
          external-dns.alpha.kubernetes.io/target: "ingress.skylab.fi"
        hosts:
          - host: &host "ip.skylab.fi"
            paths:
              - path: /
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: false
      geoip:
        enabled: true
        existingClaim: geoip-v1
        mountPath: /usr/share/GeoIP
